/.deps
/.libs
/autom4te.cache
/build-aux
/libDBusGlue_la-DerivedTypeCollection.o
/libDBusGlue_la-TestInterfaceDBusProxy.o
/libDBusGlue_la-TestInterfaceDBusStubAdapter.o
/libDBusGlue_la-TestInterfaceStubDefault.o
/.cproject
/.project
/aclocal.m4
/config.log
/config.status
/configure
/DBusGlue-uninstalled.pc
/DBusGlue.pc
/libDBusGlue_la-DerivedTypeCollection.lo
/libDBusGlue_la-TestInterfaceDBusProxy.lo
/libDBusGlue_la-TestInterfaceDBusStubAdapter.lo
/libDBusGlue_la-TestInterfaceStubDefault.lo
/libDBusGlue.la
/libtool
/Makefile
/Makefile.in
/.autotools
