<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
             <extension
                point="org.franca.core.dsl.francaValidator">
                  <validator
                        class="org.genivi.commonapi.dbus.validator.ValidatorDBusUi"
                        mode="FAST"
                        name="Franca D-Bus Validator">
                  </validator>
               </extension>
               <extension
                   point="org.eclipse.ui.preferencePages">
                <page
                      class="org.genivi.commonapi.dbus.validator.preference.ValidatorDBusPreferencesPage"
                      id="org.genivi.commonapi.dbus.validator.preference"
                      name="CommonAPI D-Bus Validator">
                </page>
             </extension>
</plugin>
